<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enipro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- On android M and above, the permission is requested on run time. -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_c4758269916b3a51781514eb32c06a61bb406dee" />

        <activity
            android:name=".presentation.login.LoginActivity"
            android:noHistory="true" />
        <activity
            android:name=".presentation.search.UserSearchActivity"
            android:noHistory="true" />
        <activity
            android:name=".presentation.signup.SignUpActivity"
            android:noHistory="true" />
        <activity android:name=".presentation.home.HomeActivity" />
        <activity android:name=".presentation.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.profile.ProfileEditActivity" />

        <!-- Instance ID Service for firebase. -->
        <service android:name=".services.firebase.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.firebase.EniproMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".presentation.signup.AddPhotoActivity" />
        <activity android:name=".presentation.messages.MessagesSearch" />
        <activity android:name=".presentation.messages.MessageActivity" />
        <activity android:name=".presentation.profile.InterestActivity" />
        <activity android:name=".presentation.profile.ViewPostsActivity" />
        <activity android:name=".presentation.signup.AddInterestsActivity" />
        <activity android:name=".presentation.signup.AddEducationActivity" />
        <activity android:name=".presentation.signup.AddExperienceActivity" />
        <activity android:name=".presentation.profile.BioActivity" />
        <activity android:name=".presentation.profile.ProfileActivity" />
        <activity android:name=".presentation.profile.NewEducationActivity" />
        <activity android:name=".presentation.profile.NewExperienceActivity" />
        <activity android:name=".presentation.generic.industry.IndustryActivity" />
        <activity android:name=".presentation.feeds.comments.FeedCommentActivity" />
        <activity android:name=".presentation.post.PostActivity"/>

        <receiver android:name=".services.SessionScheduleService" />

        <activity android:name=".presentation.profile.student_search.StudentSearch" />
        <activity android:name=".presentation.payments.PaymentsFormActivity">

        </activity>
        <activity android:name=".presentation.requests.session_schedule.SessionScheduleActivity">

        </activity>
    </application>

</manifest>